<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SurveyWebApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Quest-20170803031403;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Quest-20170803031403.mdf" />
    <add name="SurveyDatabase" connectionString="Data Source=SQL5025.myWindowsHosting.com,1433;MultipleActiveResultSets=true;Initial Catalog=DB_9AB8B7_D17DDA5399;User Id=DB_9AB8B7_D17DDA5399_admin;Password=32Afx@9Z;"/>
  </connectionStrings>
  <applicationSettings>
    <SurveyWebApp.Properties.Settings>
    </SurveyWebApp.Properties.Settings>
  </applicationSettings>
<appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
</configuration>
